.DM-btn {
  background-color: #343a40;
  border: none;
  color: white;
  padding: 6px 13px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.DM-btn2 {
  background-color: #343a40;
  border: none;
  color: white;
  padding: 6px 13px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.Contact-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Overmij-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.DM-btn:focus {
  outline: none;
}

.Boter {
  margin-left: 430px;
}

.Naamrek {
  color: rgb(0, 0, 0);
  text-align: center;
}

.Higherlower {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: auto;
}

.Csplaatje {
  text-align: center;
}

.Netflix {
  width: 50%;
  border-radius: 5%;
}

.btn1 {
  width: 20%;
}

.form_1 {
  width: 96%;
}

.Text1 {
  width: 20%;
}

